In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
train_dataset = pd.read_csv("astro_train.csv")
test_dataset = pd.read_csv("astro_test.csv")

train_dataset = train_dataset.set_index("id")
test_dataset = test_dataset.set_index("id")
train_dataset.head()

,dered_i,dered_z,dered_u,dered_g,dered_r,err_i,err_z,err_u,err_g,err_r,...,skyVersion,run,rerun,camCol,field,obj,photoz,#ra,dec,class
id,,,,,,,,,,,,,,,,,,,,,
0,15.1459,14.9723,18.6394,16.4080,15.4896,0.00195,0.00406,0.02796,0.00279,0.00197,...,1,745,40,2,518,5,2.64988,236.22077,-0.58795,0
1,17.3579,17.3498,18.5273,17.6527,17.4296,0.00757,0.02498,0.02484,0.00536,0.00577,...,1,745,40,2,518,8,2.63438,236.22135,-0.46320,0
2,20.6154,19.7785,25.4019,23.4824,22.5504,0.10071,0.16768,0.75381,0.46380,0.35679,...,1,745,40,2,518,9,1.65738,236.22055,-0.46434,0
3,15.0188,14.9927,16.7971,15.5712,15.1534,0.00183,0.00411,0.00820,0.00195,0.00171,...,1,745,40,2,518,12,2.28431,236.22224,-0.61553,0
4,20.3008,21.6454,23.7314,21.7139,20.9195,0.21194,1.86698,2.73388,0.27544,0.21740,...,1,745,40,2,518,13,1.34673,236.22307,-0.61710,1

In [2]:
cleaned_train_dataset = train_dataset.drop(["skyVersion","run","rerun","camCol"], axis=1)
cleaned_test_dataset = test_dataset.drop(["skyVersion","run","rerun","camCol"], axis=1)

In [3]:
nadropped_train_dataset = cleaned_train_dataset.dropna(axis=0, how="any")

In [4]:
cleaned_train_dataset = cleaned_train_dataset.drop(["err_i"], axis=1)
cleaned_test_dataset = cleaned_test_dataset.drop(["err_i"], axis=1)

cleaned_train_dataset = cleaned_train_dataset.drop(["err_z"], axis=1)
cleaned_test_dataset = cleaned_test_dataset.drop(["err_z"], axis=1)

cleaned_train_dataset = cleaned_train_dataset.drop(["err_u"], axis=1)
cleaned_test_dataset = cleaned_test_dataset.drop(["err_u"], axis=1)

cleaned_train_dataset = cleaned_train_dataset.drop(["err_g"], axis=1)
cleaned_test_dataset = cleaned_test_dataset.drop(["err_g"], axis=1)

cleaned_train_dataset = cleaned_train_dataset.drop(["extinction_r"], axis=1)
cleaned_test_dataset = cleaned_test_dataset.drop(["extinction_r"], axis=1)

cleaned_train_dataset = cleaned_train_dataset.drop(["photoz"], axis=1)
cleaned_test_dataset = cleaned_test_dataset.drop(["photoz"], axis=1)
cleaned_train_dataset = cleaned_train_dataset.drop(["dered_r"], axis=1)
cleaned_test_dataset = cleaned_test_dataset.drop(["dered_r"], axis=1)

In [28]:
cleaned_train_dataset.head()

,dered_i,dered_z,dered_u,dered_g,err_r,field,obj,#ra,dec,class
id,,,,,,,,,,
0,15.1459,14.9723,18.6394,16.4080,0.00197,518,5,236.22077,-0.58795,0
1,17.3579,17.3498,18.5273,17.6527,0.00577,518,8,236.22135,-0.46320,0
2,20.6154,19.7785,25.4019,23.4824,0.35679,518,9,236.22055,-0.46434,0
3,15.0188,14.9927,16.7971,15.5712,0.00171,518,12,236.22224,-0.61553,0
4,20.3008,21.6454,23.7314,21.7139,0.21740,518,13,236.22307,-0.61710,1

In [29]:
cleaned_test_dataset.head()

,dered_i,dered_z,dered_u,dered_g,err_r,field,obj,#ra,dec
id,,,,,,,,,
45000,19.9292,19.0830,21.5476,22.0847,0.18544,445,955,210.14317,-0.67458
45001,21.0599,20.1330,24.9842,23.6285,0.41268,445,956,210.14115,-0.67492
45002,21.9820,22.4638,22.4816,22.6871,0.51561,445,957,210.14151,-0.72963
45003,21.0554,20.4345,24.5198,22.7947,0.27101,445,958,210.14190,-0.75901
45004,21.1186,21.3319,22.0633,22.1923,0.31843,445,959,210.14224,-0.67057

In [5]:
X = cleaned_train_dataset[["dered_i","dered_z","dered_u","dered_g"]]
y = cleaned_train_dataset["class"]

In [6]:
from sklearn.model_selection import train_test_split
# here I used 20% data for test_data and 80% as train_data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
from sklearn.svm import SVR
regressor = SVR()

In [7]:
regressor.fit(X_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [8]:
y_pred = regressor.predict(X_test)
# Printing the R^2 score
regressor.score(X_test, y_test)

0.13971082444323313

In [9]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_pred, y_test)
print("Mean absolute error:", mae)

Mean absolute error: 0.5634479586321179

In [10]:
regressor.fit(X, y)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [12]:
X = cleaned_test_dataset[["dered_i","dered_z","dered_u","dered_g"]]
y_pred = regressor.predict(X)
y_pred = y_pred.astype(int)
output_dataframe = pd.DataFrame({'id': cleaned_test_dataset.index, 'class': y_pred})
output_dataframe.to_csv("submission3.csv", index=False)

In [13]:
Xa = cleaned_train_dataset.drop(columns=['class'])

In [14]:
ya = cleaned_train_dataset["class"]

In [15]:
import math
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.linear_model import LinearRegression as LR
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor as DT
from sklearn.neighbors import KNeighborsRegressor as KNN
from sklearn.neural_network import MLPRegressor as MLP
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import warnings

warnings.filterwarnings('ignore')

X_train, X_val, y_train, y_val = train_test_split(Xa, ya, test_size = 0.25)
print('Shapes - ', X_train.shape, X_val.shape, y_train.shape, y_val.shape)

names = ['Random forest', 'Gradient boosting', 'Adaboost', 'Decision Tree', 'KNN', 'MLP', 
         'Linear regression']
clfs = [RandomForestRegressor(), GradientBoostingRegressor(), AdaBoostRegressor(), DT(), KNN(), MLP(), LR()]

maes = {}
rmses = {}
r2s = {}

for name, clf in zip(names, clfs):
    clf.fit(X_train, y_train)
    y_pred_clf = clf.predict(X_val)
    mae = mean_absolute_error(y_val, y_pred_clf)
    rmse = math.sqrt(mean_squared_error(y_val, y_pred_clf))
    r2 = r2_score(y_val, y_pred_clf)
    maes[name] = mae
    rmses[name] = rmse
    r2s[name] = r2
    print(name, ' done')
    
print('Mean Absolute Error:')
for name, mae in maes.items():
    print('%20s | %f' %(name, mae))
    
print('Root Mean Squared Error:')
for name, rmse in rmses.items():
    print('%20s | %f' %(name, rmse))
    
print('R2 Score:')
for name, r2 in r2s.items():
    print('%20s | %f' %(name, r2))

C:\Users\Aboli\Anaconda3\envs\Intern1\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

Shapes -  (33750, 9) (11250, 9) (33750,) (11250,)
Random forest  done
Gradient boosting  done
Adaboost  done
Decision Tree  done
KNN  done
MLP  done
Linear regression  done
Mean Absolute Error:
       Random forest | 0.567422
   Gradient boosting | 0.600399
            Adaboost | 0.645896
       Decision Tree | 0.642489
                 KNN | 0.671342
                 MLP | 0.730821
   Linear regression | 0.689565
Root Mean Squared Error:
       Random forest | 0.733119
   Gradient boosting | 0.724053
            Adaboost | 0.764424
       Decision Tree | 0.983960
                 KNN | 0.825024
                 MLP | 1.037155
   Linear regression | 0.802155
R2 Score:
       Random forest | 0.203908
   Gradient boosting | 0.223476
            Adaboost | 0.134470
       Decision Tree | -0.434065
                 KNN | -0.008201
                 MLP | -0.593314
   Linear regression | 0.046918

In [22]:
cleaned_train_dataset.head()

,dered_i,dered_z,dered_u,dered_g,err_r,field,obj,#ra,dec,class
id,,,,,,,,,,
0,15.1459,14.9723,18.6394,16.4080,0.00197,518,5,236.22077,-0.58795,0
1,17.3579,17.3498,18.5273,17.6527,0.00577,518,8,236.22135,-0.46320,0
2,20.6154,19.7785,25.4019,23.4824,0.35679,518,9,236.22055,-0.46434,0
3,15.0188,14.9927,16.7971,15.5712,0.00171,518,12,236.22224,-0.61553,0
4,20.3008,21.6454,23.7314,21.7139,0.21740,518,13,236.22307,-0.61710,1

In [26]:
Xertia = cleaned_test_dataset.drop(["dered_i","dered_z","dered_u","dered_g","err_r","field","obj","#ra","dec"], axis=1)

In [27]:
Xertia.to_csv('WagesClean.csv')